<div class='rounded btn btn-outline-primary' style='flex-basis:50%; display: flex; justify-content:center; align-items: center;'>
    <label  class='col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
        <input type='radio' name='reponses' value='{{ data.id }}' autocomplete='off'>{{ data.intitule }}
    </label>
</div>