{% extends 'base.html.twig' %}

{% block title %}Harry Codeur{% endblock %}

{% block monTitre %}Harry codeur{% endblock %}
{% block sousTitre %}Les requetes de la mort{% endblock %}
{% block body %}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{message}}
</div>
{% endfor %}
{% if error %}
<div class="alert alert-danger">
    {{ error.messageKey | trans(error.messagedata, 'security')}}
</div>
{% endif %}
<form action="" method="POST">
<div class="form-group">
    <label>Votre identifiant :</label>
    <input type="text" required name="_username" class="form-control">
</div>
<div class="form-group">
    <label>Votre mot de passe :</label>
    <input type="password" required name="_password" class="form-control">
</div>
<input type="submit" class="btn btn-primary m-3" value="Se connecter">
<a href="{{path('inscription')}}" class="btn btn-warning">Inscription</a>
<a href="{{path('logout')}}" class="btn btn-warning m-3">Déconnexion</a>
</form>
{% endblock %}
