@font-face {
    font-family: 'MagicSchoolTwo.ttf';
    src: url('../police/MagicSchoolTwo.ttf') format("truetype");
}

@font-face {
    font-family: 'HogwartsWizard.ttf';
    src: url('../police/HogwartsWizard.ttf') format("truetype");
}
.monTitre {
    font-family: "MagicSchoolTwo.ttf";
    color: gold;
    font-size: 8em;
    text-align: center;
}
.sousTitre {
    font-family: "HogwartsWizard.ttf";
    color: gold;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}
.container {
    background-image: url(../images/salle.jpg);
    background-size: cover;
    overflow-y: auto;
    height: 100vh;
}
#pointeur {
    cursor: url(../images/cursor.png) 2 2, auto;
}
label{
    display:inline-block;
    margin-left: 1.5rem;
    margin-bottom:0.5rem;
    color:white;
    font-size: 1.5em;
    text-decoration-color: black;
}
[type="checkbox"]:before {
    content: "";
    position: absolute;
    left: -1.2em;
    top: -0.9em;
    display: inline-block;
    width: 15px;
    margin-left: 20px;
    height: 16px;
    border: 2px solid #333;
    border-radius: 2px 8px 2px 4px / 5px 3px 5px 3px;
}
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
}
