<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
		<link rel="stylesheet" href="{{asset('css/style.css')}}"> {% block stylesheets %}{% endblock %}
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
		<script src="https://kit.fontawesome.com/883b922560.js" crossorigin="anonymous"></script>
	{# // <script type="text/javascript" src="../js/script.js"></script>#}
	</head>
	<body class="bg-primary">
		<div class="container" id="pointeur">
			<div class="row">
				<div class="col">
					<a class="btn btn-info m-5" onclick="reglement()">Règles du jeu</a>
				</div>
			</div>
			<h1 class="monTitre"> {% block monTitre %}{% endblock %}
				</h1>
				<h2 class="sousTitre"> {% block sousTitre %}{% endblock %}
					</h2>
					{% block body %}{% endblock %}
					<div id="popups" data-prototype="{% include '/combat/popup.html.twig' with {'data':{'id':'__id__','title':'__title__','content':'__content__'}, 'type':'__type__'} only %}"></div>
				</div>
				{% block javascripts %}{% endblock %}
				<script>
					function reglement() {
var $popupHolder = $('#popups');
var index = $popupHolder.children().length;
var newPopup = $popupHolder.data('prototype');
newPopup = newPopup.replace(/__id__/g, 'popup_' + index);
newPopup = newPopup.replace(/__title__/g, 'Règles du jeu');
newPopup = newPopup.replace(/__content__/g, "Harry codeur est un jeu de combat basé sur vos connaisances informatiques.<br> \
Dans un premier temps, vous devez vous inscrire si cela n'est pas dejà fait. <br> \
Il vous faudra 3 questions de bonne pour pouvoir vaincre votre adversaire.<br> \
A VOUS DE JOUER !!!");
newPopup = newPopup.replace(/__type__/g, 'secondary');
$popupHolder.append(newPopup);
$('#popup_' + index + '_button').addClass("d-none");
$('#popup_' + index + '_button').click();
}
				</script>
			</body>
		</html>
